<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
  <h2>{{event.name}}</h2>
  <div>Date: {{event.date}}</div>
  <div [ngSwitch]="event?.time" [ngClass]="getStartTimeClass()">Time: {{event.time}}
    <span *ngSwitchCase="'8:00 am'">(Early start)</span>
    <span *ngSwitchDefault>(Normal start)</span>
    <span *ngSwitchCase="'10:00 am'">(Late start)</span>
  </div>
  <div>Price: ${{event.price}}</div>
  <div  *ngIf="event?.location">
    <span>Location: {{event.location?.address}}</span>
    <span>&nbsp;</span>
    <span>{{event.location?.city}}, {{event.location?.country}}</span>
  </div>
  <div *ngIf="event?.onlineUrl">Online: {{event?.onlineUrl}} </div>
</div>
