.nav.navbar-nav {
  font-size: 15px;
}
#searchForm {
  margin-right: 100px;
}

li > a.active {
  color: #2b3e50 ;
  background-color: lightgray;
}

@media all and (max-width: 1200px) {
  #searchForm {
    display: none;
  }
}
